#kokomo {
  background: #1d262d url('../img/background.jpg') fixed no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#kokomo .logo {
  position: relative;
  display: block;
  margin: auto;
  top: 70px;
}

#timer-tiles {
  position: relative;
  top: 20px;
  left: -10px;
}

#countdown {
  position: relative;
  overflow: hidden;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 384px;
}

#timer .digit {
  margin-left: -17px;
  margin-right: -15px;
}

#timer .colon {
  margin-left: -10px;
  margin-right: -15px;
}
